body{
  height: 100%;
  width: 100%;
  min-width: 420px;
  max-width: 1300px;
  margin: auto;
  padding: 0px;
  background: linear-gradient(15deg, #f59414 ,#55b6f7 80%) ;
  
}

header{
  width: 80%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 20px 0px rgb(0, 0, 0, 20%);
  border-radius: 5px;
}

header .logo{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}

header nav{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav .nav_item{
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
}

header nav #time_select{
  padding: 0.4rem;
  margin-left: 0.4rem;
  font-size: 0.7rem;
  outline: none;
  border-color: white;
  background-color: transparent;
}

header nav .nav_item i{
  transition: all 0.5s;
  
}

header nav .nav_item:hover i{
  color: black;
}

.heading1{
  margin: 5px auto;
  text-align: center;
  font-family: 'ubuntu';
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.heading4{
  margin: 5px auto;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.container{
  position: relative;
  background: transparent;
  width:80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 20%);
  
}

#container{
  width: 100%;
}

.inner-container{
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  
  
}

.box_shadow{
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 20%);

}

#container:nth-child(1){
  padding-top: 25px;
}

#typing-area{
  height: 40px;
  width: 50%;
  padding: 5px 20px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
  color:#000000;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}

#typing-area:focus{
  border: 1px solid white ;
}

.typed{
  width: 300px;
  font-size: 0.8rem;
  font-family:  sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#score{
  margin: 10px auto;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  font-family:  sans-serif;
  font-weight: bold;
  color: #000000;
  
}


.score-container{
  margin: 50px auto;
  height: 240px;
  width: 240px;
  background-color: transparent;
  border-color:  rgba(255, 255, 255,0.8);
  border-width: 5px;
  border-style: dotted;
  border-radius: 130%;
}

.text-1{
  font-size: 1.4rem;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: inline;
  text-shadow: 0 20px 25px rgb(15, 120, 167, 30%);
}

.typing-menu{
  height: 50%;
  background-color:rgba(52, 15, 110);
}

.score-menu{
  height: 50%;   
  background-color:rgba(52, 15, 110,0.9);
}

#correct{
  font-size: 25px;
  font-weight: 600;
  color: green;
  margin-left: 100px;
}
#wrong{
  font-size: 25px;
  font-weight: 600;
  color: red;
  margin-left: 108px;
}

#tTyped{
  font-size: 25px;
  font-weight: 600;
  color: white;
}

#cWord{
  padding: 2px;
  background: #7cc2f1;
  border-style: none;
  border-radius: 3px;
}

.speed{
  margin-top: 15px;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  color: #000000;
}

#wpm{
  height: 150px;
  width: 150px;
  margin: auto;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 30px;
  background-color: transparent;
  border-style: groove;
  border-radius: 10px;
  color:white;
  
}

#wp{
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 18px;
  color:white;
  text-align: center;
  margin-top: -40px;
}

#and{
  margin: 30px auto;
  text-align:center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  
}

#acc{
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #000000;
}

#accuracy{
  width: 100px;
  margin: auto;
  padding: 8px 15px;
  text-align: center;
  font-family:  sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: red;

}

#result{
  width: 100%;
  margin: auto;
  padding: 10px;
}

.code{
  position: absolute;
  top: 500px;
  left: 250px;
  font-family:  sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255,0.6);
  
}
#start_btn{
  width: 100px;
  padding: 8px 12px;
  margin: 20px auto;
  display: block;
  border: 1px solid green;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  background-color: green;
}
#start_btn:hover{
  background-color: transparent;
  color: green;
}

footer{
  width: 80%;
  padding: 20px 0px;
  margin: auto;
  text-align: center;
}
  

footer a{
  color: black;
  text-decoration: none;

}

footer a:hover{
  color: gray;

}

@media screen and (max-width: 768px){
  .heading1{
    font-size: 1.2rem;
  }
  .heading4{
    font-size: 0.7rem;
  }
  .text-1{
    font-size: 1rem;
  }

  #typing-area{
    width: 80%;
  }
  footer{
  font-size: 12px;

  }

}